{% extends "layout2.html" %}



{% block header %}
  <header class="w3-container w3-blue w3-center" style="padding:128px 16px">
      <video class="resize" height="100%" width="100%" controls>
        <source src="static/videos/Untitled.mp4" type="video/mp4">
      </video>
    </header>

{%endblock%} 

{% block content %}
      <h1>Who are we?</h1>
      <h5 class="w3-padding-32">We are B-Safe, the problem of babies being forgotten in cars has been a growing problem. In the last 10 years there have been over 650 cases of babies being forggoten in cars in Ireal alone.</h5>

      <p class="w3-text-grey">Our product is a combination of a device that has a weight-scale and an app that are connected together via bluetooth. If the person driving leaves the vehicle while there is still weight on the booster, a message pops up on their phone. We are business to buisness and sell our device to saftey-seat companies. This way our product is an extra layer of security that comes with an already essential product </p>
    </div>

{%endblock%} 

