<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

header{
  background-color: #78B2D4;
}

.w3-top{
  background-color: #FFA400;
}


img{
  max-height: 150px
  max-width: 150px;
}


.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}







.resize-nav {
    width: 400px;
    height: auto;
}

.resize-nav{
    width: 400px;
    height: auto;
}



 /* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
} 
</style>
<body>




<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large " href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>



    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-white">Login</a>
    <a href="/register" class="w3-bar-item w3-button w3-padding-large w3-white">Register</a>


    <div class="resize-nav">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>



<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px">
</style>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
    <div class="jumbotron jumbotron-video">
      <video height="100%" width="100%" controls>
        <source src="static/videos/Untitled.mp4" type="video/mp4">
      </video>
    </div>
    </div>

      <br>

      </div>
    </div>
    </center>
    </div>
  </div>
</div>

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Who are we?</h1>
      <h5 class="w3-padding-32">We are B-Safe, the problem of babies being forgotten in cars has been a growing problem. In the last 10 years there have been over 650 cases of babies being forggoten in cars in Ireal alone.</h5>

      <p class="w3-text-grey">Our product is a combination of a device that has a weight-scale and an app that are connected together via bluetooth. If the person driving leaves the vehicle while there is still weight on the booster, a message pops up on their phone. We are business to buisness and sell our device to saftey-seat companies. This way our product is an extra layer of security that comes with an already essential product </p>
    </div>

    <div class="w3-third w3-center">



<img class="resize" src="static/pictures/legos.png"> </img> 
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
     <img class="resize" src="static/pictures/pm1.jpg"> </img> 
    </div>

    <div class="w3-twothird">
      <h1>Meet the team</h1>
      <h5 class="w3-padding-32">We are a group of teenage students in a program called MEET which stands for Middle East Entrepreneurs of Tomorrow. We are a mix of Palestinians and Israelis who have been honing our skills as a team for almost 3 years now.
</h5>

<p class="w3-text-grey"> In MEET for the third year, we have to make our own startups. One issue we are really passionate for solving was the issue for babies being forgotten in cars. This affects both regions and we as a team really believe in our startup. 



   
    </div>
  </div>
</div>
















<br>
   <div class="row">
  <div class="column">
    <div class="card">
      <img src="static/pictures/mahd.jpg" alt="Mahd" style="width:100%">
      <div class="container">
        <h2>Mahd Qumseya</h2>
        <p class="title">Project Manager &amp; Developer</p>
        <p>Hello my name is Mahd Qumseya, I am 17 years old and am the project manager and developer of the team. I began coding as a hobby 3 years ago and now using my skills to help develop a startup</p>
        <p>mahdqumseya@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/Nicole.jpg" alt="Nicole" style="width:100%">
      <div class="container">
        <h2>Nicole Kazakov</h2>
        <p class="title">Project Manager &amp; Designer</p>
        <p>My name is Nicole and I am the project manager and designer of the team. I have been really passionate about design since I was young and am now using my skills to help the startup</p>
        <p>nicolekazakov@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/Robert.jpeg" alt="Robert" style="width:100%">
      <div class="container">
        <h2>Robert Kostrov</h2>
        <p class="title">Developer</p>
        <p>My name is Robert Kostrov and I am the head backend developer. I have had many years of experience as a developer and am currently working on AI battle royal as a side project.</p>
        <p>robertkostrov@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> 













<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/pictures/Gilead.jpg" alt="Gilead" style="width:100%">
      <div class="container">
        <h2>Gilead Balshayi </h2>
        <p class="title">Developer</p>
        <p>Hello my name is Gilead, I am a 17 year old Israeli and am a developer of the team. </p>
        <p>gileadbalshayi@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/George.jpg" alt="George" style="width:100%">
      <div class="container">
        <h2>George Rush </h2>
        <p class="title">Developer</p>
        <p>George do this This is too hard to do for each person</p>
        <p>georgerush@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/Warrd.jpg" alt="Warrd" style="width:100%">
      <div class="container">
        <h2>Warrd Nour</h2>
        <p class="title">Developer</p>
        <p>Hello my name is Warrd, I am a 17 year old Palestinian girl from Ramallah. My favorite hobby is food and sleep. My favorite food is sushi and my favorite language is python.</p>
        <p>warrdnour@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> 



<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/pictures/mahd.jpg" alt="Mahd" style="width:100%">
      <div class="container">
        <h2>Mahd Qumseya</h2>
        <p class="title">Project Manager &amp; Developer</p>
        <p>Hello my name is Mahd Qumseya, I am 17 years old and am the project manager and developer of the team. I began coding as a hobby 3 years ago and now using my skills to help develop a startup</p>
        <p>mahdqumseya@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/Nicole.jpg" alt="Nicole" style="width:100%">
      <div class="container">
        <h2>Nicole Kazakov</h2>
        <p class="title">Project Manager &amp; Designer</p>
        <p>My name is Nicole and I am the project manager and designer of the team. I have been really passionate about design since I was young and am now using my skills to help the startup</p>
        <p>nicolekazakov@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/Robert.jpeg" alt="Robert" style="width:100%">
      <div class="container">
        <h2>Robert Kostrov</h2>
        <p class="title">Developer</p>
        <p>My name is Robert Kostrov and I am the head backend developer. I have had many years of experience as a developer and am currently working on AI battle royal as a side project.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> 


<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/pictures/mahd.jpg" alt="Mahd" style="width:100%">
      <div class="container">
        <h2>Mahd Qumseya</h2>
        <p class="title">Project Manager &amp; Developer</p>
        <p>Hello my name is Mahd Qumseya, I am 17 years old and am the project manager and developer of the team. I began coding as a hobby 3 years ago and now using my skills to help develop a startup</p>
        <p>mahdqumseya@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/Nicole.jpg" alt="Nicole" style="width:100%">
      <div class="container">
        <h2>Nicole Kazakov</h2>
        <p class="title">Project Manager &amp; Designer</p>
        <p>My name is Nicole and I am the project manager and designer of the team. I have been really passionate about design since I was young and am now using my skills to help the startup</p>
        <p>nicolekazakov@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/Robert.jpeg" alt="Robert" style="width:100%">
      <div class="container">
        <h2>Robert Kostrov</h2>
        <p class="title">Developer</p>
        <p>My name is Robert Kostrov and I am the head backend developer. I have had many years of experience as a developer and am currently working on AI battle royal as a side project.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> 
































<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
  
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
