{% extends "layout2.html" %}


{% block style %}
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

header{
  background-color: #78B2D4;
}

.w3-top{
  background-color: #FFA400;
}


img{
  max-height: 150px
  max-width: 150px;
}


.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}




#lyne{
  padding-left: 33% 
}


.resize-nav {
    width: 400px;
    height: auto;
}

.resize-nav{
    width: 400px;
    height: auto;
}



 /* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 600px;  
    width: 300px;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

.button:hover {
    background-color: #555;
} 
.team_pic{
  width: 300px;
}
.contact_button{
  padding-bottom: 30%;
}

.team_pic1{

}
</style>
{%endblock%} 

{% block content %}
      <h1>Meet the team</h1>
    <h5 class="w3-padding-32">We are a group of teenage students in a program called MEET which stands for Middle East Entrepreneurs of Tomorrow. We are a mix of Palestinians and Israelis who have been honing our skills as a team for almost 3 years now.
    </h5>

    <p class="w3-text-grey"> In MEET for the third year, we have to make our own startups. One issue we are really passionate for solving was the issue for babies being forgotten in cars. This affects both regions and we as a team really believe in our startup.
{%endblock%} 


{% block content2 %}
<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/mahd.jpg" alt="Mahd" class="team_pic">
      <div class="container-fluid">
        <h2>Mahd Qumseya</h2>
        <p class="title">Project Manager &amp; Developer</p>
        <p>I am the project manager and developer of the team. I live in Beit Lehem. I began coding as a hobby 3 years ago and now using my skills to help develop the startup</p>
        <p>mahdqumseya@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Nicole.jpg" alt="Nicole" class="team_pic">
      <div class="container-fluid">
        <h2>Nicole Kazakov</h2>
        <p class="title">Project Manager &amp; Designer</p>
        <p>I am the project manager and designer of the team. I live in Jerusalem and I have been really passionate about design since I was young and am now using my skills to help the startup</p>
        <p>kazakov.nicole@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Robert.jpg" alt="Robert" class="team_pic">
      <div class="container-fluid">
        <h2>Robert Kostrov</h2>
        <p class="title">Developer</p>
        <p>I am the Back-End developer. I live in Migdal Ha'emek. Am currently working on AI battle royal as a side project.</p>
        <p>robkostrov@gmail.com</p>
      </div>
    </div>
  </div>
</div> 

<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Gilead.jpg" alt="Gilead" class="team_pic">
      <div class="container-fluid">
        <h2>Gilead Balshayi </h2>
        <p class="title">Developer</p>
        <p>I am one of the Front-End developers of the team. I live in Beit Shemesh and I am a part of a swimming team.<br><br><br> </p>
        <p>gileadbalshayi@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/George.jpg" alt="George" class="team_pic">
      <div class="container-fluid">
        <h2>George Rashed</h2>
        <p class="title">Developer</p>
        <p>I'm the head Front-End developer of the team. I come from a villige near Nazareth called Reineh, and I love VideoGames.<br><br><br></p>
        <p>goerge1110@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Warrd.jpg" alt="Warrd" class="team_pic">
      <div class="container-fluid">
        <h2>Warrd Nour</h2>
        <p class="title">Developer</p>
        <p>I am one of the Front-End developers of the team, I live in Ramallah. my favorite food is sushi and I love pogramming in Python.<br> <br></p>
        <p>warrdnour@gmail.com</p>
      </div>
    </div>
  </div>
</div> 

 <div class="row">
  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Nasif.jpg" alt="Nasif" class="team_pic">
      <div class="container-fluid">
        <h2>Nasif Francis</h2>
        <p class="title">Designer</p>
        <p>I am one of the designers of the team. I live in Nazareth. I have been using PhotoShop for a few years and now using my skills to help the team.<br><br></p>
        <p>nasiffrancis@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Noa.jpg" alt="Noa" class="team_pic">
      <div class="container-fluid">
        <h2>Noa Hadad</h2>
        <p class="title">Designer</p>
        <p>I am one of the designers of the team. I live in a small Moshav in the Jezreel Vally called Balfuria. I also like Computer Science and help with development.<br><br></p>
        <p>noa.hadad712@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Leen.jpg" alt="Leen" class="team_pic">
      <div class="container-fluid">
        <h2>Leen Kassis</h2>
        <p class="title">Designer</p>
        <p>I am one of the designers of the team. I live in Nazareth Ellit. I play basketball and I love colorful socks.<br><br><br></p>
        <p>kassisleen@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Fouad.jpg" alt="Fouad" class="team_pic">
      <div class="container-fluid">
        <h2>Fouad Jabr</h2>
        <p class="title">Marketing Team</p>
        <p>I am the head of the marketing team. I live in Jerusalem. My dedication for this start-up has never stopped since day 1. I feel attatched and committed to my team.</p>
        <p>fouadjabr21@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Nisreen.jpg" alt="Nisreen" class="team_pic">
      <div class="container-fluid">
        <h2>Nisreen Janah</h2>
        <p class="title">Marketing Team</p>
        <p>I am a part of the marketing team. I live in Jerusalem. I like reading and listening to music.<br><br><br> </p>
        <p>nisreenjanah234@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Luna.jpg" alt="Luna" class="team_pic">
      <div class="container-fluid">
        <h2>Luna Abu Jaber</h2>
        <p class="title">Marketing Team</p>
        <p>I am a part of the marketing team. I live in Nazareth Ellit. I like listening to music as I work so I can consantrate. <br> <br><br></p>
        <p>lunaaj21001@gmail.com</p>
      </div>
    </div>
  </div>
<div id="lyne"> 
  <div class="column">
    <div class="card">
      <img src="static/pictures/pics/Lyne.jpg" alt="Lyne" class="team_pic">
      <div class="container-fluid">
        <h2>Lyne Shweiki</h2>
        <p class="title">Marketing Team</p>
        <p>I am a part of the marketing team. I live in east Jerusalem. On my free time, I like to ride horses and I can sing in 10 different languages.<br><br></p>
        <p>lyneshweiki@gmail.com</p>
      </div>
    </div>
  </div>
</div>
</div>


{%endblock%} 